---
- name: Register ncurses path
  shell: which tic
  register: output

- name: Fail on wrong ncurses version
  fail:
    msg: Wrong ncurses version
  when: output.stdout != terminal_ncurses_path

- name: Clear terminfo.src from /tmp
  file:
    path: /tmp/terminfo.src
    state: absent

- name: Download and unzip tmux-256color terminfo
  shell: cd /tmp &&
    curl -LO {{ terminal_terminfo_url }} &&
    gunzip terminfo.src.gz

- name: Compile terminfo
  shell: cd /tmp && {{ terminal_ncurses_path }} -xe alacritty-direct,tmux-256color terminfo.src 