---
- name: Register ncurses path
  shell: which tic
  register: output
  tags:
    - never
    - terminfo

- name: Fail
  fail:
    msg: Wrong ncurses version
  when: output.stdout != terminal_ncurses_path
  tags:
    - never
    - terminfo

- name: Clear terminfo.src from /tmp
  file:
    path: "/tmp/terminfo.src"
    state: absent
  tags:
    - never
    - terminfo

- name: Download and unzip tmux-256color terminfo
  shell: cd /tmp &&
    curl -LO {{ terminal_terminfo_url }} &&
    gunzip terminfo.src.gz
  tags:
    - never
    - terminfo

- name: Compile terminfo
  shell: cd /tmp && {{ terminal_ncurses_path }} -xe alacritty-direct,tmux-256color terminfo.src 
  tags:
    - never
    - terminfo